name: GitHub Metrics
on:
  schedule:
    - cron: "0 4 * * *"
  workflow_dispatch:

jobs:
  github-metrics:
    runs-on: ubuntu-latest
    steps:
      - uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          user: otaciliow

          # Base
          base: header, activity, community, repositories
          config_timezone: America/Sao_Paulo

          # Linguagens
          plugin_languages: yes
          plugin_languages_limit: 8
          plugin_languages_threshold: 0%
          plugin_languages_details: percentage

          # Commits / Stats
          plugin_isocalendar: yes
          plugin_isocalendar_duration: half-year
